<div class="container mat-elevation-z3 card" 
     cdkDrag
     cdkDragPreviewContainer="parent">
      <div *ngIf="data().label === 'MTTD'" class="card-top" 
     style="background:#3b82f6">
</div>
<div *ngIf="data().label === 'MTTR'" class="card-top" 
     style="background:#f87171">
</div>
<div *ngIf="data().label === 'MTTA'" class="card-top" 
     style="background:#34d399">
</div>
<div *ngIf="data().label === 'true-positive'" class="card-top" 
     style="background:#a78bfa">
</div>
    <div class="header">
        <button mat-icon-button class="settings-button" (click)="showOptions.set(true)"
    [style.--mdc-icon-button-icon-color]="data().color ?? 'inherit'">
        <mat-icon>settings</mat-icon>
    </button>
    <h3 class="widget-label lbl">{{ data().label }}</h3>
    </div>

    <ng-container [ngComponentOutlet]="data().content"
    [ngComponentOutletInputs]="{ data: data() }"></ng-container>
    <app-widget-option *ngIf="showOptions()" [(showOptions)]="showOptions" [data]="data()"></app-widget-option>
    <div *cdkDragPlaceholder></div>
</div>
