
.btn-nav {
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 800;
    color: var(--sys-on-surface-variant);
    transition: all 0.2s ease;
    text-transform: uppercase;
}

.btn-nav.active {
    background-color: var(--sys-primary);
    color: var(--sys-on-primary);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.chart-container {
 height: calc(100% - 100px);
 width: 100%;
}