<mat-toolbar class="soc-toolbar">
  <div class="left-section">
    <button mat-icon-button (click)="collapsed.set(!collapsed())" class="menu-btn">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span class="spacer"></span> 
 <div class="nav-links">
  <a routerLink="/app/dashboard" routerLinkActive="active" class="nav-link">
    <i class="fas fa-chart-line"></i> <span>Dashboard</span>
  </a>
  <a routerLink="/app/incidents" routerLinkActive="active" class="nav-link">
    <i class="fas fa-shield-alt"></i> <span>Incidents</span>
  </a>
  <a routerLink="/app/messanger" routerLinkActive="active" class="nav-link">
   <i class="fas fa-comments"></i> <span>Messager</span>
  </a>
  <a routerLink="/app/admin/logs" routerLinkActive="active" class="nav-link">
    <i class="fas fa-history"></i> <span>Audit</span>
  </a>
  <a *ngIf="userProfile?.role === 'admin'"
  routerLink="/app/admin/admin"
  routerLinkActive="active"
  class="nav-link">
  <i class="fas fa-history"></i>
  <span>Administrateur</span>
</a>
</div>

  <span class="spacer"></span> <div class="right-section">
    <div class="time-filter">
  <i class="far fa-calendar-alt"></i>
  <span>{{ todayDate | date:'mediumDate' }}</span>
  <i class="fas fa-chevron-down drop-icon ml-2"></i>
</div>
    <button mat-icon-button (click)="darkMode.set(!darkMode())" class="theme-toggle">
      <mat-icon>{{ darkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>