@use "tailwindcss";

@use '@angular/material' as mat;

@include mat.core();

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon {
  font-family: 'Material Icons' !important;
}
.cdk-drop-list-dragging {
    opacity: 0.5;
    border-left: 5px solid #000;
    padding-left: 8px;
}

.mat-drawer-container, 
.mat-sidenav-container, 
.mat-drawer, 
mat-sidenav {
    border: none !important;
    outline: none !important;
    box-shadow: none !important; 
}

.mat-drawer-side {
    border-right: none !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent !important;
}
$custom-theme: mat.define-theme(
  (
  color: (
      //theme-type:light,
      //primary: mat.$azure-palette,
      use-system-variables: true,
    ),
  )
);

:root {
  --sys-background: rgb(248, 250, 252); /* Abyedh 3ati 3al Gris (Slate 50) */
  --sys-surface: rgb(255, 255, 255);     /* Pure White lel Cards */
  --sys-primary: rgb(79, 70, 229);      /* El Lon el Indigo mta3 Coficab */
  --sys-on-primary: rgb(255, 255, 255);
  --sys-primary-container: rgb(238, 242, 255);
  --sys-on-primary-container: rgb(67, 56, 202);
  --sys-on-background: rgb(15, 23, 42);  /* Dark Slate lel ktiba */
  --sys-on-surface: rgb(15, 23, 42);
  --sys-on-surface-variant: rgb(100, 116, 139); /* Gris lel sub-titles */
  --sys-outline: rgb(226, 232, 240);    /* Gris deghfa lel borders */
  --sys-outline-variant: rgb(241, 245, 249);
  --sys-error: rgb(239, 68, 68);        /* Red lel alerts */
  --sys-tertiary: rgb(34, 197, 94);     /* Green lel True Positives */
  --sys-surface-container-lowest: rgb(255, 255, 255);
  --sys-surface-container-low: rgb(248, 250, 252);
  --sys-surface-container: rgb(241, 245, 249);
  --sys-surface-container-high: rgb(226, 232, 240);
  --sys-surface-container-highest: rgb(203, 213, 225);
  --icon-grad-profile-start: #a855f7; /* Purple 500 */
  --icon-grad-profile-end: #ec4899;   /* Pink 500 */
  
  --icon-grad-incidents-start: #3b82f6; /* Blue 500 */
  --icon-grad-incidents-end: #a855f7;   /* Purple 500 */
  
  --icon-grad-messanger-start: #f59e0b; /* Amber 500 */
  --icon-grad-messanger-end: #ef4444;   /* Red 500 */
  
  --icon-grad-logout-start: #ef4444; /* Red 500 */
  --icon-grad-logout-end: #f97316;   /* Orange 500 */
}

 .dark {
  --sys-background: #040a29;
  --sys-surface: #0f172a;
  --sys-surface-container-low: #1e293b;
  --sys-on-surface:#8c8f93;        
  --sys-on-surface-variant: #94a3b8;
  --sys-outline: #334155;           
  --sys-primary:#475569;
  --sys-surface-container-high:  #1e293b;
  --sys-outline-variant: #334155;
  color-scheme: dark;
}



html{
  background-color: var(--sys-background);
  color: var(--sys-on-surface);
  @include mat.core-theme($custom-theme);
  @include mat.toolbar-theme($custom-theme);
  @include mat.button-theme($custom-theme);
  @include mat.icon-button-theme($custom-theme);
  @include mat.sidenav-theme($custom-theme);
  @include mat.tabs-theme($custom-theme);
  @include mat.list-theme($custom-theme);
  @include mat.select-theme($custom-theme);
  @include mat.form-field-theme($custom-theme);
  @include mat.button-toggle-theme($custom-theme);
  @include mat.menu-theme($custom-theme);
  @include mat.divider-theme($custom-theme);
}